* {
  font-family: Arial, sans-serif;
  line-height: 2.2;
}

h1 {
  color: #464647;
    font-weight: bold;

}

h2, h3 {
  color: #58585A;
  font-weight: bold;
}

 h4, h5 {
  color: #EE5859;
}

p {
  line-height: 1.6;
}

a {
  color: #58585A;
}


.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: #EE5859; }
  
  
  